<app-encabezado></app-encabezado>

<div class = "container">
    
    <h1>Nombre: {{productoPagina.nombre}}</h1>
    <h1>Precio de salida: {{productoPagina.precioSalida}} $</h1>
    <h1>Puja actual: {{productoPagina.pujaActual}} $</h1>
    <h1>Precio de CompraYa: {{productoPagina.precioCompraYa}} $</h1>
    <input type="number" placeholder="Ingresa el precio de CompraYa del producto" name="precioCompraYa" class="form-control  mt-4" [(ngModel)]="nuevaPuja">
    <button class="btn btn-warning mt-4" (click)="cambiarPuja(nuevaPuja)"type="button">Guardar cambios</button>

    <!--<br>
<br>
<img [src] = "imagen"/>
<br>
<br>
<img [src] = "imagen"/>
<br>
<br>
<img [src] = "imagen"/>
<br>
<br>
<br>
<br>-->
</div>

