#formLogin {
    margin-top: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: aqua;
}

.labelLogin {
    margin-left: 8%;
}

.inputLogin {
    width: 73%;
    margin-left: 10%;
}

.botonSubmit {
    height: 35px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    background-color: green;
    border: 0px;
    text-align: center;
    color: white;
}