<app-encabezado></app-encabezado>

<div class = "container">

  <form (ngSubmit) = "AgregarProducto()">
    <input type="text" placeholder="Ingresa el nombre del producto" name="nombre" class="form-control  mt-4" [(ngModel)]="producto.nombre">
    <input type="number" placeholder="Ingresa el precio de salida del producto" name="precioSalida" class="form-control  mt-4" [(ngModel)]="producto.precioSalida">
    <input type="number" placeholder="Ingresa el precio de CompraYa del producto" name="precioCompraYa" class="form-control  mt-4" [(ngModel)]="producto.precioCompraYa">
    <button class="btn btn-warning mt-4" type="submit">Agregar</button>
  </form>

</div>


