
<div class="bg-white text-black">
  <img class= "logo" [src] = "logotipo"/>
</div>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/home']">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="redirigirMisPujas()">Pujador <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/subida']">Subir producto</a>
        </li>
        <li class="nav-item"routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/conocenos']">Conócenos</a>
        </li>
        <li class="nav-item"routerLinkActive="active">
          <a class="nav-link" (click)="redirigirPerfil()">Perfil</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="filtroHome" placeholder="Search" aria-label="Search" [(ngModel)]="filtroHome">
        <button class="btn btn-outline-dark my-2 my-sm-0 bg-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
